.detail {
    align-content: center;
    text-align: center;
    margin: 3%;
  }
  h1 {
    padding-bottom: 3%;
  }
  img {
    padding-bottom: 3%;
  }
  .price {
    padding-bottom: 3%;
  }
  .card{
    margin: auto;
    width: 50vw;
    overflow: scroll;
  }  
  .HomeIcon{
    margin: auto auto;
  }